extends base

block content
  h4 Change Title of Videos
  form(method="POST")
    input(name="title" placeholder="Video Title", value=video.title, required)
    input(name="description" placeholder="Description", minlength="20", value=video.description, required, type="text")
    input(name="hashtags" placeholder="Hashtags, separated by comma.", value=video.hashtags.join(),required, type="text")
    input(value="Save" type="submit")
